
<ion-tabs (ionTabsWillChange)="onTabsWillChange($event)">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="profile">
      <ion-icon name="person-circle{{ active === 'profile' ? '' : '-outline' }}"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="schedule">
      <ion-icon name="calendar{{ active === 'schedule' ? '' : '-outline' }}"></ion-icon>
      <ion-label>Schedule</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pets">
      <ion-icon name="paw{{ active === 'pets' ? '' : '-outline' }}"></ion-icon>
      <ion-label>Pets</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notification">
      <ion-icon name="notifications{{ active === 'notification' ? '' : '-outline' }}"></ion-icon>
      <ion-label>Notification</ion-label>
      <ion-badge *ngIf="totalUnreadNotification > 0">{{totalUnreadNotification}}</ion-badge>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
