ion-tab-bar {
}
ion-tab-button {
  --color-selected: var(--ion-color-tertiary);
  font-size: 14px;
  ion-icon {
    font-size: 30px;
  }
  // &::before {
  //   background-color: transparent;
  //   display: block;
  //   content: "";
  //   margin: 0 auto;
  //   width: 20px;
  //   height: 2px;
  // }

  // &.tab-selected::before {
  //   background-color: var(--ion-color-tertiary);
  // }
  ion-badge {
    font-size: 15px;
    padding: 5px;
    border-radius: 100%;
    width: 18px;
    height: 18px;
    display: flex;
    align-content: center;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
}
