<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [disabled]="isLoading" (click)="cancel()" >
        <ion-icon name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="text-align: center">Details</ion-title>
    <div slot="end" style="width: 48px"></div>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div *ngIf="!isLoading; else loading" class="details-container">
    <ion-item class="item" >
      <ion-label text-wrap>
        <div class="item">
          <h2 class="title"># <strong>{{details.appointmentId | numberLeadZero: 5}}</strong></h2>
        </div>
      </ion-label>
    </ion-item>
    <ion-item [disabled]="!isVideoConferenceAvailable" *ngIf="details.consultaionType.consultaionTypeId === '2' && details.appointmentStatus.appointmentStatusId === '2'" button class="item video-conference-button" [ngClass]="{'disabled' : !isVideoConferenceAvailable }" (click)="joinVideoConference()">
      <ion-label text-wrap>
        <span>{{isVideoConferenceAvailable ? 'Join video conference' : 'Video conference not available'}}</span>
      </ion-label>
      <ion-icon name="videocam"></ion-icon>
    </ion-item>
    <ion-item class="item" >
      <ion-label text-wrap>
          <h3 class="sub">
            <strong>
              <ion-text
                [color]="(details.appointmentStatus.appointmentStatusId === '1' || details.appointmentStatus.appointmentStatusId === '4' ? 'danger' : '') ||
                (details.appointmentStatus.appointmentStatusId === '2' ? 'primary' : '') ||
                (details.appointmentStatus.appointmentStatusId === '3' ?? 'tertiary')">
                {{details.appointmentStatus.name}}
              </ion-text>
            </strong>
          </h3>
        <h3 class="desc">Status</h3>
      </ion-label>
    </ion-item>
    <ion-item class="item" >
      <ion-label text-wrap>
        <div class="item type">
          <h1 class="title">{{details.serviceType.name}}</h1>
          <h3 class="sub">₱{{details.serviceRate}}</h3>
        </div>
      </ion-label>
    </ion-item>
    <ion-item class="item" >
      <ion-icon name="today" slot="start"></ion-icon>
      <ion-label text-wrap>
        <h3 class="sub">{{appointmentDate}}</h3>
        <h3 class="sub">{{time}}</h3>
      </ion-label>
    </ion-item>
    <ion-item class="item" >
      <ion-icon name="location" slot="start"></ion-icon>
      <ion-label text-wrap>
        <h3 class="sub">{{details.consultaionType.name}}</h3>
      </ion-label>
    </ion-item>
    <ion-item class="item" >
      <ion-icon name="medkit" slot="start"></ion-icon>
      <ion-label text-wrap>
        <h2 class="title">{{details.staff.fullName}}</h2>
        <span class="desc">Veterinarian</span>
      </ion-label>
    </ion-item>
    <ion-item class="item" >
      <ion-icon name="pricetag" slot="start"></ion-icon>
      <ion-label text-wrap>
        <h2 class="title">{{details.comments}}</h2>
        <span class="desc">{{details.comments !=='' ? 'Comments' : 'No Comments'}}</span>
      </ion-label>
    </ion-item>
    <ion-item class="item" *ngIf="details.appointmentStatus.appointmentStatusId === '2'">
      <ion-icon name="receipt" slot="start"></ion-icon>
      <ion-label text-wrap>
        <h2 class="title">{{details.diagnosisAndTreatment}}</h2>
        <span class="desc">{{details.diagnosisAndTreatment !=='' ? 'Diagnosis & Treatment' : 'No Diagnosis & Treatment'}}</span>
      </ion-label>
    </ion-item>
    <ion-item class="item" lines="none">
      <ion-label text-wrap>
        <h3>Pet details</h3>
      </ion-label>
    </ion-item>
    <ion-item class="item" >
      <ion-icon name="paw" slot="start"></ion-icon>
      <ion-label text-wrap>
        <h2 class="title">{{!isLoading?details.petAppointment.pet.name : ''}}</h2>
        <span class="desc">{{!isLoading?details.petAppointment.pet.petCategory.name : ''}}</span>
      </ion-label>
    </ion-item>
  </div>
  <ng-template #loading>
    <div class="details-container" >
    <ion-item class="item" >
      <ion-label text-wrap>
          <h3 class="sub">
            <strong>
              <ion-text>
                <ion-skeleton-text [animated]="true"></ion-skeleton-text>
              </ion-text>
            </strong>
          </h3>
        <h3 class="desc">
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </h3>
      </ion-label>
    </ion-item>
    <ion-item class="item" >
      <ion-label text-wrap>
        <div class="item type">
          <h1 class="title">
            <ion-skeleton-text [animated]="true"></ion-skeleton-text>
          </h1>
          <h3 class="sub">
            <ion-skeleton-text [animated]="true"></ion-skeleton-text>
          </h3>
        </div>
      </ion-label>
    </ion-item>
    <ion-item class="item" >
      <ion-icon name="today" slot="start"></ion-icon>
      <ion-label text-wrap>
        <h3 class="sub">
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </h3>
        <h3 class="sub">
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </h3>
      </ion-label>
    </ion-item>
    <ion-item class="item" >
      <ion-icon name="location" slot="start"></ion-icon>
      <ion-label text-wrap>
        <h3 class="sub">
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </h3>
      </ion-label>
    </ion-item>
    <ion-item class="item" >
      <ion-icon name="medkit" slot="start"></ion-icon>
      <ion-label text-wrap>
        <h2 class="title">
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </h2>
        <span class="desc">
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </span>
      </ion-label>
    </ion-item>
    <ion-item class="item" >
      <ion-icon name="pricetag" slot="start"></ion-icon>
      <ion-label text-wrap>
        <h2 class="title">
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </h2>
        <span class="desc">
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </span>
      </ion-label>
    </ion-item>
    <!-- <ion-item class="item" >
      <ion-icon name="receipt" slot="start"></ion-icon>
      <ion-label text-wrap>
        <h2 class="title">
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </h2>
        <span class="desc">
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </span>
      </ion-label>
    </ion-item> -->
    <ion-item class="item" lines="none">
      <ion-label text-wrap>
        <h3>
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </h3>
      </ion-label>
    </ion-item>
    <ion-item class="item" >
      <ion-icon name="paw" slot="start"></ion-icon>
      <ion-label text-wrap>
        <h2 class="title">
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </h2>
        <span class="desc">
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </span>
      </ion-label>
    </ion-item>
    </div>
  </ng-template>

</ion-content>

<div class="sched-controls-bottom">
  <ion-button
    *ngIf="!isLoading && details.consultaionType.consultaionTypeId === '2' && (details.appointmentStatus.appointmentStatusId === '1' || details.appointmentStatus.appointmentStatusId === '2')"
    color="primary"
    expand="block"
    (click)="openVetConnect()"
    fill="outline">Message
  </ion-button>
  <ion-button
    [disabled]="isLoading"
    *ngIf="details.appointmentStatus.appointmentStatusId === '1' && isCancellationAvailable"
    color="danger"
    expand="block"
    fill="outline"
    (click)="onCancelAppointment()">Cancel appointment</ion-button>
</div>
