ion-header::after {
  background-image: none;
}


 ion-content {
  ion-item {
    background: #cccc!important;
    button {
      background: #cccc!important;
    }
  }

  ::ng-deep ion-item {
   .un-read {
     .title {
       font-weight: 800px!important;
     }
    }
  }
  ion-label {
    h3, p {
      margin: 0 !important;
    }
  }
  div {
    height: 100%!important;
    .no-records {
      ion-icon {
        font-size: 50px;
      }
     }
  }
 }
