<ion-header no-border no-shadow>
  <ion-toolbar>
    <ion-title class="ion-text-center">Schedule</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div>
    <div *ngFor="let a of appointment">
      <ion-card >
        <div class="sched-card">
          <div class="card-header">
            <span>{{a.appointmentDate | date: 'MMMM'}}</span>
            <h2 class="date">{{a.appointmentDate | date: 'dd'}}</h2>
            <span><strong>{{a.appointmentDate + ' ' + a.timeStart | date: 'hh:mm a'}}</strong></span>
            <span>{{a.appointmentDate | date: 'EEEE'}}</span>
          </div>
          <div class="card-content">
            <div class="content-row border">
              <div class="field vet">
                <h3>Veterenarian</h3>
                <h3 class="value"><strong>{{a.staff.fullName}}</strong></h3>
              </div>
              <div class="field action">
                <ion-buttons slot="end">
                  <ion-button (click)="showMenu()">
                    <ion-icon name="ellipsis-vertical-sharp"></ion-icon>
                  </ion-button>
                </ion-buttons>
              </div>
            </div>
            <div class="content-row">
              <div class="field type">
                <h3>Type</h3>
                <h3 class="value"><strong>{{a.serviceType.name}}</strong></h3>
              </div>
            </div>
          </div>
        </div>
      </ion-card>
    </div>
  </div>
</ion-content>
<div class="sched-controls-bottom">
  <ion-button color="primary" size="large" expand="block" (click)="openAddModal()">Book new Appointment</ion-button>
</div>
