
ion-header::after {
  background-image: none;
}
  h1,h2,h3,h4,h5,h6,
  p,strong,span,label {
    margin: 0;
  }
  .classification {
    margin-bottom: 40px;
  }
.group-title {
  margin-bottom: 10px;
}

