<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()" >
        <ion-icon name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="text-align: center">Add pet</ion-title>
    <div slot="end" style="width: 48px"></div>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div id="petProfilePic">
    <ion-avatar>
      <img (click)="onChangeProfilePic()" [src]="petProfilePic ? petProfilePic.source : ''" (error)="profilePicErrorHandler($event)" id="profilePicture">
    </ion-avatar>
  </div>
  <form
  id="petForm"
  [formGroup]="petForm"
  (ngSubmit)="petForm.valid ? onSubmit() : false">
    <fieldset [disabled]="isSubmitting || isLoading">
      <div class="form-field-group">
        <mat-label>Enter your pet's species</mat-label>
        <ion-item [disabled]="isLoading || isSubmitted" fill="outline">
          <ion-select slot="start" formControlName="petTypeId" placeholder="Select Pet type" >
            <ion-select-option slot="start" [value]="item.petTypeId" *ngFor="let item of petTypeOption">{{item.name}}</ion-select-option>
            <ion-select-option disabled slot="start" *ngIf="petTypeOption.length === 0">No pet type available</ion-select-option>
          </ion-select>
        </ion-item>
        <span class="error" *ngIf="errorControls.petTypeId.touched && errorControls.petTypeId.errors && errorControls.petTypeId.errors.required">
          Cannot be left blank
        </span>
      </div>


      <div class="form-field-group"  *ngIf="errorControls.petTypeId.value && errorControls.petTypeId.value !== ''">
        <mat-label>Category </mat-label>
        <ion-item [disabled]="isLoading || isSubmitted" fill="outline">
          <ion-select slot="start" formControlName="petCategoryId" placeholder="Select Category" >
            <ion-select-option slot="start" [value]="item.petCategoryId" *ngFor="let item of petCatgoryOption">{{item.name}}</ion-select-option>
            <ion-select-option disabled slot="start" *ngIf="petCatgoryOption.length === 0">No category available</ion-select-option>
          </ion-select>
        </ion-item>
        <span class="error" *ngIf="errorControls.petCategoryId.touched && errorControls.petCategoryId.errors && errorControls.petCategoryId.errors.required">
          Please select a category
        </span>
      </div>
      <div class="form-field-group" *ngIf="errorControls.petCategoryId.value && errorControls.petCategoryId.value !== ''">
        <mat-label>Name</mat-label>
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input
            matInput
            type="text"
            placeholder="Name"
            formControlName="name"
          />
        </mat-form-field>
        <span class="error" *ngIf="errorControls.name.touched && errorControls.name.errors && errorControls.name.errors.required">
          Name is required
        </span>
      </div>
      <div class="form-field-group" *ngIf="errorControls.petCategoryId.value && errorControls.petCategoryId.value !== ''">
        <mat-label>Gender </mat-label>
        <ion-item [disabled]="isLoading || isSubmitted" fill="outline">
          <ion-select slot="start" formControlName="genderId" placeholder="Select Gender" >
            <ion-select-option slot="start" value="1">Male</ion-select-option>
            <ion-select-option slot="start" value="2">Female</ion-select-option>
            <ion-select-option slot="start" value="3">Rather not say</ion-select-option>
          </ion-select>
        </ion-item>
        <span class="error" *ngIf="errorControls.genderId.touched && errorControls.genderId.errors && errorControls.genderId.errors.required">
          Please select a gender
        </span>
      </div>


      <div class="form-field-group" *ngIf="errorControls.petCategoryId.value && errorControls.petCategoryId.value !== ''">
        <mat-label slot="start">Birthdate</mat-label>
        <ion-item id="open-birthDate-picker" [disabled]="isLoading" fill="outline" lines="none">
          <ion-label>{{formData.birthDate | date: 'MMMM dd, yyyy'}}</ion-label>
        </ion-item>
        <ion-modal trigger="open-birthDate-picker" [cssClass]="'bottom-end'">
          <ng-template>
            <ion-datetime
              presentation="date"
              size="cover"
              formControlName="birthDate"
              [showDefaultButtons]="true"
            ></ion-datetime>
          </ng-template>
        </ion-modal>
      </div>
      <div class="form-field-group" *ngIf="errorControls.petCategoryId.value && errorControls.petCategoryId.value !== ''">
        <mat-label>Weight</mat-label>
        <mat-form-field appearance="outline">
          <mat-label>Weight</mat-label>
          <input
            matInput
            type="number"
            placeholder="Weight"
            formControlName="weight"
          />
        </mat-form-field>
        <span class="error" *ngIf="errorControls.weight.touched && errorControls.weight.errors && errorControls.weight.errors.required">
          Weight is required
        </span>
      </div>
    </fieldset>
  </form>
</ion-content>
<div class="action-controls-bottom">
  <ion-button
    *ngIf="errorControls.petCategoryId.value && errorControls.petCategoryId.value !== ''"
    type="submit"
    mat-flat-button
    form="petForm"
    color="primary"
    size="large"
    expand="block"
    [disabled]="!petForm.valid || !isFormDirty || isSubmitting"
    >Save</ion-button>
</div>
