
ion-header::after {
  background-image: none;
}
  h1,h2,h3,h4,h5,h6,
  p,strong,span,label {
    margin: 0;
  }
  .classification {
    margin-bottom: 40px;
  }
.group-title {
  margin-bottom: 10px;
}

#petProfilePic {
  display: flex;
  justify-content: center;
  ion-avatar {
    width: 148px!important;
    height: 148px!important;
    img {
      border-radius: 100%;
      object-position: center;
      object-fit: contain;
      box-shadow: 0 0 10px 0 rgb(122 122 122 / 46%);
    }
  }
}

.action-controls-bottom {
  position: relative;
  display: block;
  width: 100%;
  background: #ffffff;
  padding: 5px 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  ion-button {
    height: 45px;
    font-size: 15px;
  }
}
