<ion-header no-border no-shadow>
  <ion-toolbar>
    <div slot="start" style="width: 48px"></div>
    <ion-title class="ion-text-center">Profile</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onShowSettings()">
        <ion-icon slot="icon-only" name="settings-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-refresher *ngIf="!isLoading" slot="fixed" (ionRefresh)="doRefresh($event)" class="refresher-custom">
    <ion-refresher-content >
    </ion-refresher-content>
  </ion-refresher>
  <div class="content">
    <div class="row profile">
      <div class="col avatar">
        <ion-avatar>
          <img [src]="user.userProfilePic" (error)="profilePicErrorHandler($event)">
        </ion-avatar>
      </div>
      <div class="col welcome">
        <div class="row name">
          <h2>Hi, {{ user.firstName }}!</h2>
        </div>
        <div class="row description">
          <h3>What can we help you with today?</h3>
        </div>
      </div>
    </div>
    <div class="row dashboard">
      <div class="col">
        <ion-card mode="ios">
          <ion-card-header>
            <ion-list lines="none">
              <ion-item class="ion-no-padding">
                <ion-label >
                  <h3><strong>Upcoming appointments</strong></h3>
                </ion-label>
                <ion-badge slot="start" color="success" *ngIf="!isLoading; else elseLoadingBadge">{{totalUpcoming}}</ion-badge>
              </ion-item>
            </ion-list>
          </ion-card-header>
          <ion-card-content>
            <ion-list lines="none" *ngIf="!isLoading; else elseLoadingCards">
              <ion-item *ngIf="upcomingAppointment; else elseNoUpcommingAppointment" button detail="false" class="ion-no-padding" (click)="onOpenDetails(upcomingAppointment)">
                <ion-label>
                  <h2><strong>{{upcomingAppointment.serviceType.name}}</strong></h2>
                  <h3><strong>{{upcomingAppointment.consultaionType.name}}</strong></h3>
                  <h3>{{upcomingAppointment.appointmentDate | date: 'EEEE, MMM dd, yyyy'}}</h3>
                  <h3>
                      @{{upcomingAppointment.appointmentDate + ' ' + upcomingAppointment.timeStart | date: 'hh:mm a'}}
                  </h3>
                  <h3><strong>Dr {{upcomingAppointment.staff.fullName}}</strong></h3>
                </ion-label>
              </ion-item>
              <ng-template #elseNoUpcommingAppointment>
                <ion-item button detail="false" class="ion-no-padding">
                  <ion-label>
                    <h3>No upcoming appointments</h3>
                  </ion-label>
                </ion-item>
              </ng-template>
            </ion-list>
          </ion-card-content>
          <div class="action">
            <ion-button fill="clear" *ngIf="totalUpcoming > 0" [disabled]="isLoading" routerLink="/schedule">View all</ion-button>
          </div>
        </ion-card>
      </div>
      <div class="col">
        <ion-card mode="ios">
          <ion-card-header>
            <ion-list lines="none">
              <ion-item class="ion-no-padding">
                <ion-label >
                  <h3><strong>Pet Reminders</strong></h3>
                </ion-label>
                <ion-badge slot="start" color="warning" *ngIf="!isLoading; else elseLoadingBadge">{{clientReminders.length}}</ion-badge>
                <ion-fab-button size="small" [disabled]="isLoading" (click)="onAddReminder()"><ion-icon name="add"></ion-icon></ion-fab-button>
              </ion-item>
            </ion-list>
          </ion-card-header>
          <ion-card-content>
            <div style="width: 100%; display: flex; flex-direction: column;"  *ngIf="!isLoading; else elseLoadingCards">
              <ion-list *ngIf="clientReminders && clientReminders.length > 0; else elseNoReminders" style="margin-bottom: 10px;" class="reminder-list">
                <ion-item *ngFor="let reminder of clientReminders" button detail="false" class="ion-no-padding" (click)="onEditReminder(reminder)">
                  <ion-thumbnail slot="start">
                    <img src="../../../assets/img/dog-bowl.png" />
                  </ion-thumbnail>
                  <ion-label>
                    <h2 class="title"><strong>{{reminder.clientReminderType.name}}</strong></h2>
                    <span class="desc">{{reminder.description}}</span>
                    <div class="sched">
                      <ion-icon name="time-outline"></ion-icon>
                      <div class="details">
                        <h4><strong>{{reminder.startDate | date: 'hh:mm a' }} {{reminder.repeatTypeCode | uppercase}}</strong></h4>
                        <span *ngIf="reminder.repeatTypeCode && reminder.repeatTypeCode.toString() !== ''; else elseNoRepeat">
                          Reoccurs&nbsp;
                          {{
                            (reminder.repeatTypeCode.toString() === 'daily' ? 'everyday' : '') ||
                            (reminder.repeatTypeCode.toString() === 'yearly' || reminder.repeatTypeCode.toString() === 'monthly' ? 'every ' + (reminder.startDate | date: 'EEE, MMM dd') : '') ||
                            (reminder.repeatTypeCode.toString() === 'weekly' ? 'every ' + (reminder.startDate | date: 'EEEE') : '')
                          }}
                        </span>
                        <ng-template #elseNoRepeat>
                          <span>No repeat</span>
                        </ng-template>
                      </div>
                    </div>
                  </ion-label>
                </ion-item>
              </ion-list>
            </div>
          </ion-card-content>
        </ion-card>
      </div>
      
    </div>
  </div>
</ion-content>

<ng-template #elseLoadingCards>
  <ion-list lines="none">
    <ion-item detail="false" class="ion-no-padding">
      <ion-label style="display: flex;flex-direction: column; gap: 10px;">
        <h2>
          <ion-skeleton-text [animated]="true" style="height: 20px;"></ion-skeleton-text>
        </h2>
        <h3>
          <ion-skeleton-text [animated]="true" style="height: 20px;"></ion-skeleton-text>
        </h3>
        <h3>
          <ion-skeleton-text [animated]="true" style="height: 20px;"></ion-skeleton-text>
        </h3>
        <h3>
          <ion-skeleton-text [animated]="true" style="height: 20px;"></ion-skeleton-text>
        </h3>
        <h3>
          <ion-skeleton-text [animated]="true" style="height: 20px;"></ion-skeleton-text>
        </h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ng-template>

<ng-template #elseLoadingBadge>
  <ion-skeleton-text [animated]="true" style="height: 20px;width: 40px;"></ion-skeleton-text>
</ng-template>
<ng-template #elseNoReminders>
  <ion-list lines="none">
    <ion-item  button detail="false" class="ion-no-padding">
      <ion-label>
        <h3>No reminders set</h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ng-template>