
ion-header::after {
  background-image: none;
}
h1,h2,h3,h4,h5,h6,
p,span,label {
  margin: 0!important;
}

.sched-controls-bottom {
  position: relative;
  display: block;
  width: 100%;
  background: #ffffff;
  padding: 5px 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  ion-button {
    height: 45px;
    font-size: 15px;
  }
}

::ng-deep mat-stepper {
  .mat-horizontal-stepper-header-container {
    display: none!important;
  }
  .mat-horizontal-content-container {
    padding: 0!important;
  }

}

ion-radio-group {
  &.hide-radio-controls {
    ion-radio {
      visibility: hidden!important;
    }
  }
}
#schedForm {
  display: flex!important;
  height: 100%;
  fieldset {
    flex-grow: 1;
    display: flex!important;
    .form-field-group {
      flex-grow: 0!important;
    }
    .no-time-slot-available {
      flex-grow: 1;
      display: flex!important;
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: center;
    }
  }
}

.photos {
  row-gap: 10px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  ion-avatar {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    .remove-button {
      position: absolute;
      right: 30px;
      width: 40px;
      height: 40px;
    }
    img {
      height: 200px;
      border-radius: 10px;
      object-position: center;
      object-fit: contain;
      box-shadow: 0 0 10px 0 rgb(122 122 122 / 46%);
    }
  }
}
