<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()" >
        <ion-icon name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="text-align: center">New Appointment</ion-title>
    <div slot="end" style="width: 48px"></div>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <mat-stepper animationDuration="200" [linear]="false" #appointmentStepper>
    <mat-step [stepControl]="appointmentForm">
      <form
      id="appointmentForm"
      [formGroup]="appointmentForm"
      (ngSubmit)="appointmentForm.valid ? appointmentStepper.next() : false">
        <fieldset [disabled]="isSubmitting || isLoading">
          <div class="form-field-group inline" >
            <mat-label>What type of appointment</mat-label>
            <ion-radio-group formControlName="consultaionTypeId" value="1">
              <ion-item fill="outline" lines="none">
                <ion-icon name="home-outline" slot="start"></ion-icon>
                <ion-label>Onsite</ion-label>
                <ion-radio [disabled]="isLoading" slot="end" value="1"></ion-radio>
              </ion-item>
              <ion-item fill="outline" lines="none">
                <ion-icon name="videocam-outline" slot="start"></ion-icon>
                <ion-label>Video</ion-label>
                <ion-radio [disabled]="isLoading" slot="end" value="2"></ion-radio>
              </ion-item>
            </ion-radio-group>
            <span class="error" *ngIf="errorControls.consultaionTypeId.touched && errorControls.consultaionTypeId.errors && errorControls.consultaionTypeId.errors.required">
              Please select a type of appointment
            </span>
          </div>
          <div class="form-field-group">
            <mat-label slot="start">What type of Service</mat-label>
            <ion-item [disabled]="isLoading" fill="outline">
              <ion-select slot="start" formControlName="serviceType" placeholder="Select type" >
                <ion-select-option slot="start" [value]="item" *ngFor="let item of serviceTypeOption">{{item.name}}</ion-select-option>
                <ion-select-option disabled slot="start" *ngIf="serviceTypeOption.length === 0">No service type available</ion-select-option>
              </ion-select>
              <h3>₱{{serviceTypeOption.length > 0 && formData.serviceType ? (formData.serviceType.price | number : '1.2-2') : (0 | number : '1.2-2')}}</h3>
            </ion-item>
            <span class="error" *ngIf="errorControls.serviceType.touched && errorControls.serviceType.errors && errorControls.serviceType.errors.required">
              Please select a type of service
            </span>
          </div>
          <div class="form-field-group">
            <mat-label slot="start">Pet</mat-label>
            <ion-item [disabled]="isLoading" fill="outline">
              <ion-select slot="start" formControlName="petId" placeholder="Select pet" >
                <ion-select-option slot="start" [value]="pet.petId" *ngFor="let pet of petOption">{{pet.name}}</ion-select-option>
                <ion-select-option disabled slot="start" *ngIf="petOption.length === 0">No pet available</ion-select-option>
              </ion-select>
            </ion-item>

            <span class="error" *ngIf="errorControls.petId.touched && errorControls.petId.errors && errorControls.petId.errors.required">
              No pet selected
            </span>
          </div>
          <div class="form-field-group">
            <mat-label slot="start">Veterenarian</mat-label>
            <ion-item [disabled]="isLoading" fill="outline">
              <ion-select slot="start" formControlName="veterenarianId" placeholder="Select Veterenarian" >
                <ion-select-option slot="start" [value]="vet.staffid" *ngFor="let vet of vetOption">{{vet.fullName}}</ion-select-option>
                <ion-select-option  classs="no-result-option" disabled slot="start" *ngIf="vetOption.length === 0">No Vet available</ion-select-option>
              </ion-select>
            </ion-item>

            <span class="error" *ngIf="errorControls.veterenarianId.touched && errorControls.veterenarianId.errors && errorControls.veterenarianId.errors.required">
              No vet selected
            </span>
          </div>
          <div class="form-field-group">
            <mat-label slot="start">Select a time slot</mat-label>
            <ion-item (click)="openTimeSlotModal()" [disabled]="isLoading" fill="outline" lines="none">
              <ion-label *ngIf="selectTimeSlotForm.valid && formData.appointmentDate && formData.time; else elseNoTimeSlotSelected">
                {{formData.appointmentDate | date: 'MMMM dd, yyyy'}} {{tConvert(formData.time)}}
              </ion-label>
              <ng-template #elseNoTimeSlotSelected>
                <ion-label style="color: #c3c3c3!important">Search for available time slot</ion-label>
              </ng-template>
            </ion-item>
          </div>
          <div class="form-field-group" >
            <mat-label>Comments</mat-label>
            <mat-form-field appearance="outline">
              <mat-label>Comments</mat-label>
              <textarea
                matInput
                type="text"
                placeholder="Comments"
                formControlName="comments"
              ></textarea>
            </mat-form-field>
            <span class="error" *ngIf="errorControls.comments.touched && errorControls.comments.errors && errorControls.comments.errors.required">
              Please add comments or notes
            </span>
          </div>
          <div class="form-field-group" >
            <ion-button fill="outline" size="large" (click)="onAddPhoto()" >
              <ion-icon slot="start" name="camera"></ion-icon>
              Add photo
            </ion-button>
          </div>
          <div class="form-field-group" >
            <div class="photos">
              <ion-avatar *ngFor="let file of appointmentAttachments">
                <ion-button class="remove-button" size="small" color="light" (click)="onRemovePhoto(file)">
                  <ion-icon name="close"></ion-icon>
                </ion-button>
                <img [src]="file ? file.source : ''" (error)="profilePicErrorHandler($event)" (click)="onViewImage(file)">
              </ion-avatar>
            </div>
          </div>
        </fieldset>
      </form>
    </mat-step>
    <mat-step [stepControl]="paymentForm" label="Fill out your address">
      <form [formGroup]="paymentForm">
        <fieldset [disabled]="isSubmitting || isLoading">
          <div class="form-field-group" >
            <mat-label>Select payment method</mat-label>
            <ion-radio-group formControlName="paymentTypeId" value="1">
              <ion-item fill="outline" lines="none" *ngIf="formData.consultaionTypeId && formData.consultaionTypeId !== '2'">
                <ion-thumbnail slot="start">
                  <img alt="Cash Logo" src="../../../../assets/img/cash_logo.png" />
                </ion-thumbnail>
                <ion-label>Cash on site</ion-label>
                <ion-radio [disabled]="isLoading" slot="end" value="1"></ion-radio>
              </ion-item>
              <ion-item fill="outline" lines="none">
                <ion-thumbnail slot="start">
                  <img alt="GCash Logo" src="../../../../assets/img/gcash_logo.png" />
                </ion-thumbnail>
                <ion-label>GCash</ion-label>
                <ion-radio [disabled]="isLoading" slot="end" value="2"></ion-radio>
              </ion-item>
            </ion-radio-group>
            <span class="error" *ngIf="errorControls.paymentTypeId.touched && errorControls.paymentTypeId.errors && errorControls.paymentTypeId.errors.required">
              Please select a payment method
            </span>
          </div>
          <div class="form-field-group" >
            <ion-item fill="outline" lines="none">
              <ion-label style="display: flex;">
                <h2 style="flex-grow: 1;">{{formData.serviceType?formData.serviceType.name:''}}</h2>
                <h2>{{(formData.serviceType?formData.serviceType.price : 0) | number : '1.2-2'}}</h2>
              </ion-label>
            </ion-item>
          </div>
          <div class="form-field-group" >
            <ion-item fill="outline" lines="none">
              <ion-label style="display: flex;">
                <h2 style="flex-grow: 1;"><strong>Total</strong></h2>
                <h2><strong>{{(formData.serviceType?formData.serviceType.price : 0) | number : '1.2-2'}}</strong></h2>
              </ion-label>
            </ion-item>
          </div>
        </fieldset>
      </form>
      <!-- <iframe width="100%" height="100%" frameBorder="0" [src]="url | urlSafePipe"></iframe> -->
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button >Reset</button>
      </div>
    </mat-step>
  </mat-stepper>

  <ion-modal [isOpen]="isTimeSlotModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="closeSelectedTimeSlot()" >
              <ion-icon name="chevron-back"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-title style="text-align: center">Select time slot</ion-title>
          <div slot="end" style="width: 48px"></div>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">
        <form
        id="schedForm"
        [formGroup]="selectTimeSlotForm"
        (ngSubmit)="selectTimeSlotForm.valid ? appointmentStepper.next() : false">
          <fieldset [disabled]="isSubmitting || isLoading">
            <div class="form-field-group">
              <mat-label slot="start">Select appointment date</mat-label>
              <ion-item id="open-appointment-date-picker" [disabled]="isLoading" fill="outline" lines="none">
                <ion-label>{{selectTimeSlotForm.value.selectTimeSlotDate | date: 'EEEE, MMMM d, y'}}</ion-label>
              </ion-item>
              <ion-modal trigger="open-appointment-date-picker" [cssClass]="'bottom-end'">
                <ng-template>
                  <ion-datetime
                    #selectTimeSlotDateCtrl
                    [min]="minDate"
                    presentation="date"
                    size="cover"
                    formControlName="selectTimeSlotDate"
                    [showDefaultButtons]="true"
                  ></ion-datetime>
                </ng-template>
              </ion-modal>
            </div>
            <div class="form-field-group" *ngIf="!isLoading; else elseLoadingTimeSlot;" >
              <mat-label *ngIf="availableTimeSlot.length > 0">Select time slot</mat-label>
              <ion-radio-group [disabled]="isLoading" formControlName="selectTime" *ngIf="availableTimeSlot.length > 0">
                <ion-item fill="outline" lines="none" *ngFor="let timeSlot of availableTimeSlot">
                  <ion-label>{{tConvert(timeSlot)}}</ion-label>
                  <ion-radio slot="end" [value]="timeSlot"></ion-radio>
                </ion-item>
              </ion-radio-group>
            </div>
            <ng-template #elseLoadingTimeSlot>
              <div class="no-time-slot-available">
                <span>Loading time slot please wait...</span>
              </div>
            </ng-template>
            <ng-container *ngIf="!isLoading && availableTimeSlot.length <=0">
              <div class="no-time-slot-available">
                <span>Sorry!<br>No available time slot to show, <br>try another date</span>
              </div>
            </ng-container>
          </fieldset>
        </form>
      </ion-content>
      <div class="sched-controls-bottom">
        <ion-button
          [disabled]="isLoading || !selectTimeSlotForm.valid"
          color="primary"
          size="large"
          expand="block"
          (click)="confirmSelectedTimeSlot()">Done</ion-button>
      </div>
    </ng-template>
  </ion-modal>

</ion-content>
<div class="sched-controls-bottom">
  <ion-button
    [disabled]="isLoading || !appointmentForm.valid"
    *ngIf="appointmentStepper.selectedIndex === 0"
    color="primary"
    size="large"
    expand="block"
    (click)="appointmentStepper.next();">Continue to payment</ion-button>
    <ion-button
      [disabled]="isLoading || !paymentForm.valid"
      *ngIf="appointmentStepper.selectedIndex === 1"
      color="primary"
      size="large"
      expand="block"
      (click)="payNow()">{{formData.paymentTypeId === '1' ? 'Complete booking' : 'Pay now'}}</ion-button>
    <ion-button
      *ngIf="appointmentStepper.selectedIndex === 1"
      color="primary"
      size="large"
      expand="block"
      fill="outline"
      (click)="appointmentStepper.previous()">Back</ion-button>
</div>
