<ion-header no-border no-shadow>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()" >
        <ion-icon name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Password and security</ion-title>
    <div slot="end" style="width: 48px"></div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form
  id="petForm"
  [formGroup]="changePasswordForm"
  (ngSubmit)="changePasswordForm.valid ? onSubmit() : false">
    <fieldset [disabled]="isSubmitting">
      <div class="form-field-group">
        <mat-label>Current Password</mat-label>
        <mat-form-field appearance="outline">
          <mat-label>Current Password</mat-label>
          <input
            matInput
            type="password"
            placeholder="Current Password"
            formControlName="currentPassword"
            autocomplete="new-currentPassword"
            #currentPassword
          />
          <mat-icon
            class="icon-right"
            (click)="currentPassword.type = (currentPassword.type === 'password' ? 'text' : 'password')"
            style="cursor: pointer;"
            matSuffix>{{ currentPassword.type === 'password' ? 'visibility' : 'visibility_off' }}</mat-icon>
        </mat-form-field>
        <span class="error" *ngIf="errorControls.currentPassword.touched && errorControls.currentPassword.errors && errorControls.currentPassword.errors.required">
          Please enter your password
        </span>
        <span class="error" *ngIf="errorControls.currentPassword.touched && errorControls.currentPassword.errors && errorControls.currentPassword.errors.incorrectPassword">
          Password is incorrect
        </span>
      </div>
      <div class="form-field-group">
        <mat-label>New Password</mat-label>
        <mat-form-field appearance="outline">
          <mat-label>New Password</mat-label>
          <input
            matInput
            type="password"
            placeholder="Password"
            formControlName="newPassword"
            autocomplete="new-newPassword"
            #newPassword
          />
          <mat-icon
            class="icon-right"
            (click)="newPassword.type = (newPassword.type === 'password' ? 'text' : 'password')"
            style="cursor: pointer;"
            matSuffix>{{ newPassword.type === 'password' ? 'visibility' : 'visibility_off' }}</mat-icon>
        </mat-form-field>
        <span class="error" *ngIf="errorControls.newPassword.touched && errorControls.newPassword.errors && errorControls.newPassword.errors.required">
          Please enter new password
        </span>
      </div>
      <div class="form-field-group">
        <mat-label>Confirm Password</mat-label>
        <mat-form-field appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <input
          matInput
          type="password"
          placeholder="Confirm password"
          formControlName="confirmPassword"
          autocomplete="new-confirmPassword"
          [errorStateMatcher]="matcher"
          #confirmPassword
          />
          <mat-icon
            class="icon-right"
            (click)="confirmPassword.type = (confirmPassword.type === 'password' ? 'text' : 'password')"
            style="cursor: pointer;"
            matSuffix>{{ confirmPassword.type === 'password' ? 'visibility' : 'visibility_off' }}</mat-icon>
        </mat-form-field>
        <span class="error" *ngIf="errorControls.confirmPassword.touched && errorControls.confirmPassword.errors && errorControls.confirmPassword.errors.required">
          Confirm Password is required
        </span>
        <span class="error" *ngIf="errorControls.confirmPassword.touched && notSameValueErrorHandler && notSameValueErrorHandler.notSame">
          Password not match
        </span>
      </div>
    </fieldset>
  </form>
</ion-content>
<div class="controls-bottom">
  <ion-button
    type="submit"
    mat-flat-button
    color="primary"
    form="petForm"
    [disabled]="!changePasswordForm.valid || isSubmitting"
    >Update password</ion-button>
</div>
