ion-header::after {
  background-image: none;
  background-size: cover;
}

ion-toolbar {
  --background-color: transparent;
  --ion-color-base: transparent !important;
}

.hidden {
  display: none!important;
}

.remote-video-holder {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  background: #424242;
  .video-call-actions {
    display: flex;
    height: 100px;
  }
  video {
    display: flex;
    flex-grow: 1;
    border-radius: 5px;
  }
}
#my-video {
  position: absolute;
  max-width: 150px;
  bottom: 0;
  right: 0;
  margin: 20px;
  border-radius: 5px;
}
