<ion-content>
  <div class="register container">
    <div class="form-container">
      <form
        id="registerForm"
        #documentEditForm="ngForm"
        [formGroup]="registerForm"
        (ngSubmit)="onFormSubmit(registerForm.value)">
        <fieldset [disabled]="isSubmitting">
          <div class="form-field-group">
            <div class="app_banner">
              <div class="image-container">
                <img src="../../../../assets/img/app_banner.jpg">
              </div>
            </div>
            <span class="register-text">Create account</span>
          </div>
          <div class="form-field-group">
            <mat-form-field appearance="outline">
              <mat-label>First name</mat-label>
              <input
                matInput
                type="text"
                placeholder="First name"
                formControlName="firstName"
                autocomplete="new-firstName"
              />
            </mat-form-field>
          </div>
          <div class="form-field-group">
            <mat-form-field appearance="outline">
              <mat-label>Middle name</mat-label>
              <input
                matInput
                type="text"
                placeholder="Middle name"
                formControlName="middleName"
                autocomplete="new-middleName"
              />
            </mat-form-field>
          </div>
          <div class="form-field-group">
            <mat-form-field appearance="outline">
              <mat-label>Last name</mat-label>
              <input
                matInput
                type="text"
                placeholder="Last name"
                formControlName="lastName"
                autocomplete="new-lastName"
              />
            </mat-form-field>
          </div>
          <div class="form-field-group">
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input
                matInput
                type="email"
                placeholder="Email"
                formControlName="email"
                autocomplete="new-email"
                autocapitalize="none"
                oninput="this.value = this.value.toLowerCase()"
              />
            </mat-form-field>
          </div>
          <div class="form-field-group">
            <mat-form-field appearance="outline">
              <mat-label>Mobile number</mat-label>
              <input
                matInput
                type="number"
                placeholder="Mobile number"
                formControlName="mobileNumber"
                autocomplete="new-mobileNumber"
              />
            </mat-form-field>
          </div>
          <div class="form-field-group">
            <mat-form-field appearance="outline">
              <mat-label>Address</mat-label>
              <textarea
                matInput
                type="text"
                placeholder="Address"
                formControlName="address"
              ></textarea>
            </mat-form-field>
          </div>
          <div class="form-field-group">
            <mat-label slot="start">Birthdate</mat-label>
            <ion-item id="open-birthDate-picker" [disabled]="isSubmitting" fill="outline" lines="none">
              <ion-label>{{controls.birthDate.value | date: 'MMMM dd, yyyy'}}</ion-label>
            </ion-item>
            <ion-modal trigger="open-birthDate-picker" [cssClass]="'bottom-end'">
              <ng-template>
                <ion-datetime
                  presentation="date"
                  size="cover"
                  formControlName="birthDate"
                  [showDefaultButtons]="true"
                ></ion-datetime>
              </ng-template>
            </ion-modal>
          </div>
          <div class="form-field-group">
            <mat-label>Gender </mat-label>
            <ion-item fill="outline" [disabled]="isSubmitting">
              <ion-select slot="start" formControlName="genderId" placeholder="Select Gender" >
                <ion-select-option slot="start" value="1">Male</ion-select-option>
                <ion-select-option slot="start" value="2">Female</ion-select-option>
                <ion-select-option slot="start" value="3">Rather not say</ion-select-option>
              </ion-select>
            </ion-item>
            <span class="error" *ngIf="controls.genderId.touched && controls.genderId.errors && controls.genderId.errors.required">
              Please select a gender
            </span>
          </div>
          <div class="form-field-group">
            <mat-form-field appearance="outline">
              <mat-label>Username</mat-label>
              <input
                matInput
                type="text"
                placeholder="Username"
                formControlName="username"
                autocomplete="new-username"
                autocapitalize="none"
                oninput="this.value = this.value.toLowerCase()"
              />
            </mat-form-field>
          </div>
          <div class="form-field-group">
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input
                matInput
                type="password"
                placeholder="Password"
                formControlName="password"
                autocomplete="new-password"
                #password
              />
              <mat-icon
                class="icon-right"
                (click)="password.type = (password.type === 'password' ? 'text' : 'password')"
                style="cursor: pointer;"
                matSuffix>{{ password.type === 'password' ? 'visibility' : 'visibility_off' }}</mat-icon>
            </mat-form-field>
          </div>
          <div class="form-field-group">
            <mat-form-field appearance="outline">
              <mat-label>Confirm password</mat-label>
              <input
                matInput
                type="password"
                placeholder="Confirm password"
                formControlName="confirmPassword"
                autocomplete="new-confirmPassword"
                [errorStateMatcher]="matcher"
                #confirmPassword
              />
              <mat-icon
                class="icon-right"
                (click)="confirmPassword.type = (confirmPassword.type === 'password' ? 'text' : 'password')"
                style="cursor: pointer;"
                matSuffix>{{ confirmPassword.type === 'password' ? 'visibility' : 'visibility_off' }}</mat-icon>
            </mat-form-field>
          </div>
        </fieldset>
      </form>
    </div>
    <div class="register-footer">
      <div class="action">
        <button
          form="registerForm"
          type="submit"
          mat-flat-button
          color="primary"
          [disabled]="isSubmitting"
          >Sign up</button>
      </div>
      <div class="footer-helper">
        <span>Already have an account? <a routerLink="/login" replaceUrl="true">Login</a></span>
      </div>
    </div>
  </div>
</ion-content>
