<ion-header no-border no-shadow>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [disabled]="isLoading" (click)="cancel()" >
        <ion-icon name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="text-align: center">Pending</ion-title>
    <div slot="end" style="width: 48px"></div>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-refresher *ngIf="!isLoading" slot="fixed" (ionRefresh)="doRefresh($event)" class="refresher-custom">
    <ion-refresher-content >
    </ion-refresher-content>
  </ion-refresher>
  <div *ngIf="!isLoading; else elseLoading">
    <div *ngIf="appointment.length > 0; else elseNoData">
      <div *ngFor="let a of appointment">
        <ion-card >
          <div class="sched-card">
            <div class="card-header">
              <span>{{a.appointmentDate | date: 'MMMM'}}</span>
              <h2 class="date">{{a.appointmentDate | date: 'dd'}}</h2>
              <span><strong>{{a.appointmentDate + ' ' + a.timeStart | date: 'hh:mm a'}}</strong></span>
              <span>{{a.appointmentDate | date: 'EEEE'}}</span>
            </div>
            <div class="card-content">
              <div class="content-row c">
                <div class="field ">
                  <h3 class="value"><strong>ID #: {{a.appointmentId | numberLeadZero:5}}</strong></h3>
                </div>
              </div>
              <div class="content-row">
                <div class="field vet">
                  <h3>Veterenarian</h3>
                  <h3 class="value"><strong>{{a.staff.fullName}}</strong></h3>
                </div>
                <div class="field action">
                  <ion-buttons slot="end">
                    <ion-button (click)="showMenu(a)">
                      <ion-icon name="ellipsis-vertical-sharp"></ion-icon>
                    </ion-button>
                  </ion-buttons>
                </div>
              </div>
              <div class="content-row">
                <div class="field type">
                  <h3>Type</h3>
                  <h3 class="value"><strong>{{a.serviceType.name}}</strong></h3>
                </div>
              </div>
            </div>
          </div>
        </ion-card>
      </div>
    </div>
    <ng-template #elseNoData >
      <div class="no-records">
        <h3 class="text">No appointments to show</h3>
      </div>
    </ng-template>
  </div>
  <ng-template #elseLoading>
    <div>
      <div *ngFor="let a of [1]">
        <ion-card >
          <div class="sched-card">
            <div class="card-header" style="width: 90px!important">
              <span style="width: 100%!important">
                <ion-skeleton-text [animated]="true"></ion-skeleton-text>
              </span>
              <h2 class="date" style="width: 100%!important">
                <ion-skeleton-text [animated]="true"></ion-skeleton-text>
              </h2>
              <span style="width: 100%!important">
                <ion-skeleton-text [animated]="true"></ion-skeleton-text>
              </span>
              <span style="width: 100%!important">
                <ion-skeleton-text [animated]="true"></ion-skeleton-text>
              </span>
            </div>
            <div class="card-content">
              <div class="content-row border">
                <div class="field vet" style="width: 100%!important">
                  <h3 class="value" >
                    <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                  </h3>
                </div>
              </div>
              <div class="content-row">
                <div class="field type" style="width: 100%!important">
                  <h3 class="value" >
                    <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </ion-card>
      </div>
    </div>
  </ng-template>
</ion-content>
