.container {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  .holder {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: column;
  }
}
